<div class="password-container">
    <label for="passwordField">Password</label>
    <div class="password-input-wrapper">
        <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                id="passwordField"
                [(ngModel)]="password"
                (ngModelChange)="onPasswordChange()"
        />
        <button type="button" class="toggle-button" (click)="togglePasswordVisibility()">
            {{ isPasswordVisible ? 'Hide' : 'Show' }}
        </button>
    </div>
</div>
